<app-breadcrumb [crumbs]="breadcrumb" />
<div class="content-model">
  <div class="grid grid-cols-12">
    <div class="col-span-2 button-container mt-4 mb-4 flex justify-center items-center h-3/4 ">
      <button mat-raised-button (click)="create()" class="button">
        Crear
      </button>
    </div>
    <div class="col-span-10">
      <app-filter [filterForm]="filterForm" [options]="model.getTableViews()" (emitSearch)="applyFilter($event)" (emitClear)="clearFilter($event)" />
    </div>
  </div>

  <table mat-table [dataSource]="records" class="mat-elevation-z8">
    <ng-container *ngFor="let columnKey of displayedColumns" [matColumnDef]="columnKey.key">
      <th mat-header-cell *matHeaderCellDef>\{{columnKey.label}}</th>
      <td mat-cell *matCellDef="let row">\{{row[columnKey.key]}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="edit(row)" class="mr-4">
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
        <button (click)="delete(row.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="titleRows"></tr>
    <tr mat-row *matRowDef="let row; columns: titleRows;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data-cell" [attr.colspan]="countKeys">No hay datos disponibles</td>
    </tr>
  </table>
  <hr>
  <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
    [pageSize]="pageSize" [pageIndex]="pageIndex" aria-label="Select page">
  </mat-paginator>
</div>
